body {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background: rgb(100, 147, 185);
}

main {
    background: rgb(30, 92, 100);
}

footer {
    background: rgb(83, 165, 197);
}